* {
    font-size: 62,50%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #191816;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: white;
}

.logo {
    margin-top: 20px;
    margin-left: 20px;
}

.container {
    margin: auto;
    display: flex;
    margin-top: 200px;
    margin-left: -110px;
    background-color: #24221F;
    height: 512px;
    width: 572px;
}

.logo-seta {
    display: flex;
}

form {
    margin: auto;
    line-height: 50px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC632;
    border-radius: 5px;
    padding: 15px 140px;
    border-style: none;
}

a {
    text-decoration: none;
    color: #FFC632;
}

.email {
    line-height: 10px;
}

.mail {
    width: 330px;
    height: 30px;
    border-radius: 5px;
    background-image: url(./images/mail.svg);
    background-repeat: no-repeat;
    text-align: center;
    border-style: none;
}

.mail:focus-within {
    background-image: url(./images/mail-focus.svg);
    border-color: #FFC632;
}

.senha {
    line-height: 10px;
}

.pass {
    width: 330px;
    height: 30px;
    border-radius: 5px;
    background-image: url(./images/lock.svg);
    background-repeat: no-repeat;
    text-align: center;
    border-style: none;
}

.pass:focus-within {
    background-image: url(./images/lock-focus.svg);
    border-color: #FFC632;
}

.registro {
    text-align: center;
}

.checkbox a {
    text-align: right;
}
