/* Mobile */
:root {
    font-size: 62.50%;

    --ff-primary: 'Poppins', sans-serif;
    --ff-secundary: 'Roboto', sans-serif;

    --bg-primary: #191816;
    --bg-form: #24221F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-primary);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    width: 37.5rem;
}

.container {
    margin-inline: 2rem;
}

.logo {
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.logo-seta {
    display: flex;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-family: var(--ff-primary);
    font-size: 2.4rem;
    font-weight: 600;

    color: #D4CCB6;

    margin-bottom: 0.5rem;
}

h2 {
    margin-bottom: 2.7rem;
}

h2, 
label {
    font-family: var(--ff-secundary);
    font-size: 1.6rem;
    font-weight: 500;

    color: #AFB6C2;
}

.checkbox label {
    font-family: var(--ff-secundary);
    font-size: 1.6rem;
    font-weight: 400;

    color: #A9AFB9;
}

.checkbox a {
    font-family: var(--ff-secundary);
    font-size: 1.4rem;
    font-weight: 400;

    color: #FFC632;

    text-decoration: none;
}

.registro a {
    font-family: var(--ff-secundary);
    font-size: 1.4rem;

    color: #FFC632;

    text-decoration: none;
}

.email input,
.password input {
    background: url(./images/mail.svg) no-repeat left;
    background-color: var(--ff-primary);

    width: 33.5rem;
    height: 4.4rem;
    left: 2rem;
    top: 21.8rem;

    border: 1px solid #868686;
    border-radius: 0.4rem;

    padding-left: 2.7rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.email input:focus {
    background: url(./images/mail-focus.svg) no-repeat left;
}

.password input {
    background: url(./images/lock.svg) no-repeat left;
}

.password input:focus {
    background: url(./images/lock-focus.svg) no-repeat left;
}

input {
    font-family: var(--ff-secundary);
    font-size: 1.4rem;
    font-weight: 400;

    color: #A9AFB9;
}

.checkbox {
    margin-bottom: 2rem;
}

.checkbox a {
    margin-left: 10rem;
}

#button {
    font-family: var(--ff-secundary);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.015em;

    text-transform: uppercase;

    color: #473404;

    background: #FFC632;

    width: 33.4rem;
    height: 5.1rem;

    border-radius: 0.4rem;

    cursor: pointer;

    margin-bottom: 1.4rem;
}

.registro {
    text-align: center;
}

.carro {
    display: none;
} 

/* Desktop ***************/

@media (min-width: 1200px) {

    .logo {
        margin-left: 4rem;
        margin-top: 4rem;
    }

    .page {
        width: 100%;
    }

    .container {
        background: #24221F;

        padding-top: 5.5rem;
        padding-left: 12rem;
        padding-bottom: 3.5rem;

        margin-inline: 5rem;
        margin-block: 12.4rem;

        width: 57.2rem;
        height: 51.2rem;
        left: 7.4rem;
        top: 19.4rem;
    }

    .email label, 
    .password label {
        display: flex;
    }

    .registro {
       margin-left: -12rem;
    }
    
    .carro {
        display: initial;

        margin-left: 50%;
        margin-top: -88rem;
    }

    img {
        width: 50vw;
    }
}

